@model IEnumerable<MMTP_LMS.Models.LmsActivity>

@{
    ViewData["Title"] = "Student" + "";
}

<h1>Dagens Activiteter </h1>
<div class="container-fluid">
    <section class="row title-row"></section>
    <section id="activity">

        @foreach (var item in Model)
        {
            <div class="col">
                @Html.DisplayFor(modelItem => item.StartDate)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Name)
            </div>
            <div class="w-100"></div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Description)
            </div>

        }


    </section>
</div>

