body {
    font-size: 14px;
   
}
#todays_header {
    padding: 0.4em 1em 0.8em 0.4em;
    background-color: #ff0000;
    border-radius: 5px;
    margin: 20px;
    font-size: 3.5vw;
    color:white;
}
#date_header {
    background-color: #ff0000;
    border-radius: 5px;
    color: white;
}

#activity_header {
    font-weight: bold;
    margin-top:1em;
}
#activity_description {
    
}
#activity_group {
    margin:5px;
    padding:3px;
    /*border: 1px solid black;*/
    border-radius:5px;
    background-color:#f4f0ec;
}
#course_name {
    font-size: 50%;
    
}
.no_new_line {
    white-space: nowrap;
}
.nav_button {
    margin: 5px;
   
}
.nav_button_img {
   
}
.thestyle {
    font-family: 'Nunito Sans', sans-serif;
}
#user {
    /*margin: 5px;*/
    /*padding: 3px;*/
    /*border: 1px solid black;*/
    border-radius: 5px;
    padding: 0.4em;
    background-color: #f4f0ec;
}
.user_box {
    margin: 1em;
    
    
}
#submit_header {
    font-weight: bold;
}
.uploaded_files{
    padding-top:1em;
    font-style:italic;
}
#brand_img{
    width: 100px;
}
#todays_header_reg {
    padding: 0.4em 1em 0.8em 0.4em;
    background-color: #00ff21;
    border-radius: 5px;
    margin: 20px;
    font-size: 3.5vw;
    color: white;
}
.reg_group {
    margin: 5px;
    padding: 1em;
    /*border: 1px solid black;*/
    border-radius: 5px;
    background-color: #f4f0ec;
}
/*font-family: 'Nunito Sans', sans-serif;*/