@model MMTP_LMS.Models.Person
@{

}


<h1 id="todays_header" class="thestyle">Edit a student</h1>

<div class="container-fluid">
    <section class="row title-row"></section>
    <section id="activity_reg">
        <div class="col thestyle reg_group">
            <div class="flex-xl-grow-1">
                <form asp-action="EditUser" asp-controller="Users" method="post">
                    <h4>Registera en användare för kurs .</h4>

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="row col-sm-12">
                        <div class="form-group col-sm-4">
                            <label asp-for="FirstName"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="LastName"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-sm-4">
                            <label asp-for="CourseId">Course Name</label>
                            <select asp-for="CourseId" class="form-control" asp-items="ViewBag.List"></select>
                            <span asp-validation-for="CourseId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row" col-sm-12>
                        <div class="col-sm-6">
                            <div class="col-sm-4">
                                <button type="submit" class="btn btn-primary">Enroll</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>    
</div>