@model MMTP_LMS.ViewModels.CourseViewModel
@{
    ViewData["Title"] = "Teacher";
}

<div id="todays_header" class="thestyle">
    <span> Teachers overview</span>

    <div class="col-2">
        <div class="col-sm-12">
            @*<a asp-area="Identity" asp-page="/Account/Register">Register New User</a>*@
        </div>
    </div>
</div>

<div class="container-fluid">
    <div id="createcourse_group" class="thestyle">
        <p>
            <a class="btn btn-success crtcourse_btn" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="false" aria-controls="collapseForm">Show Course form</a>
        </p>
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapseForm">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <form asp-action="CreateCourse" asp-controller="Teacher" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="CourseName" class="control-label"></label>
                                        <input asp-for="CourseName" class="form-control" />
                                        <span asp-validation-for="CourseName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CourseDescription" class="control-label"></label>
                                        <input asp-for="CourseDescription" class="form-control" />
                                        <span asp-validation-for="CourseDescription" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CourseStartDate" class="control-label"></label>
                                        <input asp-for="CourseStartDate" class="form-control" />
                                        <span asp-validation-for="CourseStartDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="CourseEndDate" class="control-label"></label>
                                        <input asp-for="CourseEndDate" class="form-control" />
                                        <span asp-validation-for="CourseEndDate" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div> <a asp-action="Index">Back to List</a> </div>*@

@if (Model.Courses != null)
{
    <partial name="ListCourses" model="Model.Courses" />
}
    


