@model IEnumerable<MMTP_LMS.Models.LmsActivityType>

@{
    ViewData["Title"] = "Index";
}

<div id="todays_header" class="thestyle">
    <span>Activity Types</span>
</div>
<div id="createcourse_group" class="thestyle">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a asp-action="Create" class="btn btn-success">Create New</a> | 
    </div>
</div>