@model MMTP_LMS.ViewModels.LmsActivityViewModel

@{
    ViewData["Title"] = "CreateLmsActivity";
}
<div id="todays_header" class="thestyle">
    <span> Quick Start !</span>

    <div class="col-2">
        <div class="col-sm-12">
            @*<a asp-area="Identity" asp-page="/Account/Register">Register New User</a>*@
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="createcourse_group" class="thestyle">
        @*<button type="button" class="btn btn-success" onclick="window.location.href = '/Teacher/Teacher';">Courses</button>
            <button type="button" class="btn btn-success" onclick="window.location.href = '/Module/CreateModule/1';">Modules</button>*@
        <a class="btn btn-success crtactivity_btn" data-toggle="collapse" href="#collapseForm" role="button" aria-expanded="true" aria-controls="collapseForm">Show Activity form</a>
        <button type="button" class="btn btn-success" onclick="window.location.href = '/LmsActivityTypes/Index';">Activitytypes</button>
        <button type="button" class="btn btn-success" onclick="window.location.href = '/Users/CreateUser';">Students</button>
        <a class="btn btn-danger" asp-controller="Teacher" asp-action="Teacher"> Back to Quick start !</a>

        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse" id="collapseForm">
                    <div class="card card-body">
                        <div class="row">
                            <div class="flex-xl-grow-1">
                                <form asp-action="CreateLmsActivity" asp-controller="LmsActivities" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row col-sm-12">
                                        <div class="form-group col-sm-6">
                                            <label asp-for="LmsActivityName" class="control-label"></label>
                                            <input asp-for="LmsActivityName" class="form-control" />
                                            <span asp-validation-for="LmsActivityName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="LmsActivityDescription" class="control-label"></label>
                                            <input asp-for="LmsActivityDescription" class="form-control" />
                                            <span asp-validation-for="LmsActivityDescription" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row col-sm-12">
                                        <div class="form-group col-sm-6">
                                            <label asp-for="LmsActivityStartDate" class="control-label"></label>
                                            <input asp-for="LmsActivityStartDate" class="form-control" />
                                            <span asp-validation-for="LmsActivityStartDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="LmsActivityEndTime" class="control-label"></label>
                                            <input asp-for="LmsActivityEndTime" class="form-control" />
                                            <span asp-validation-for="LmsActivityEndTime" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row col-sm-12">
                                        <div class="form-group form-check col-sm-6">
                                            <div class="col-sm-3">
                                                <div class="col-sm-1">
                                                    <label asp-for="IsSubmission" class="control-label">Submission</label>
                                                    <label class="form-check-label">

                                                        <input class="form-check-input" asp-for="IsSubmission" /> @Html.DisplayNameFor(model => model.IsSubmission)
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label asp-for="LmsActivityTypeId"></label>
                                            <select asp-for="LmsActivityTypeId" class="form-control" asp-items="ViewBag.List"></select>
                                            <span asp-validation-for="LmsActivityTypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-none">
                                        <label asp-for="ModuleId" class="control-label"></label>
                                        <input asp-for="ModuleId" class="form-control" />
                                        <span asp-validation-for="ModuleId" class="text-danger"></span>
                                    </div>
                                    <div class="row col-sm-12">
                                        <div class="form-group col-sm-6">
                                            <input type="submit" value="Create" class="btn btn-success" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        @if (Model.LmsActivities != null)
                        {
                            <partial name="ListLmsActivities" model="Model.LmsActivities" />
                        }

                        @*<div>
                            <a asp-action="Index">Back to List</a>
                        </div>*@

