@model MMTP_LMS.Models.LmsActivity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Activity</h4>
<hr />
<div class="row">
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row col-sm-12">
                <div class="form-group col-sm-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row col-sm-12">
                <div class="form-group col-sm-6">
                    <label asp-for="StartDate" class="control-label"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group col-sm-6">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                </div>
            <div class="row col-sm-12">
                <div class="form-group col-sm-6">
                <input type="submit" value="Save" class="btn btn-success" />
                </div>
                <div class="form-group form-check col-sm-6">
                    <div class="col-sm-4">
                        <label class="form-check-label col-sm-4">
                            <input class="form-check-input" asp-for="IsSubmission" /> @Html.DisplayNameFor(model => model.IsSubmission)
                        </label>
                    </div>                
                </div>
                
            </div>
        </form>
    </div>
</div>


    


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
