@model MMTP_LMS.ViewModels.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin startsida</h1>

<h2>Här lägger vi knapparna !</h2>
<div class="form-group">
    <input type="submit" value="Users" class="btn btn-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Courses" class="btn btn-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Modules" class="btn btn-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Activities" class="btn btn-primary" />
</div>
<div class="form-group">
    <input type="submit" value="Documents" class="btn btn-primary" />
</div>

<p><partial name="TeacherListStats" /></p>
